@import "tailwindcss";

body {
  background-image: url('assets/global/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1; /* Put the overlay behind content */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  pointer-events: none;
}


* {
    text-color: white;
}