@import "tailwindcss";

body {
  background-image: url('assets/global/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1; /* Put the overlay behind content */
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  pointer-events: none;
}


h1, h2, h3, h4, h5, h6, p, a, li {
    color: #e0e0e0;
}