---
import Content, { frontmatter } from '../content/div/description.md';
import '../styles/components/description.css';
---

<div class="description">
  <div class="description-content">
    <div class="description-text">
      <h2 class="description-title">
        {frontmatter.title}
      </h2>
      <p>
      <Content />
      </p>
    </div>

    
  </div>
  <div class="description-image">
    <img src="/assets/avatars/gruppebilde.jpg" alt="Group image" />
  </div>
</div>
