---
---

<header class="pt-2 pb-2  bg-black shadow-md flex items-center h-15 px-8 fixed top-0 left-0 w-full z-50">
    <div class="center flex justify-between items-center w-full max-w-6xl mx-auto h-full">
      <a href="/">
            <img src="/assets/global/logo.png" alt="ParatAI Logo" class="h-12 w-auto"/>
        </a>
        <nav class="flex space-x-6 h-full">
          <a href="/" class="flex items-center h-full px-4 transition bg-transparent hover:bg-white/10 rounded-none">Hjem</a>
          <a href="/gruppen" class="flex items-center h-full px-4 transition bg-transparent hover:bg-white/10 rounded-none">Gruppen</a>
          <a href="/prosjekter" class="flex items-center h-full px-4 transition bg-transparent hover:bg-white/10 rounded-none">Prosjekter</a>
        </nav>
    </div>
</header>

