---
---

<header class="bg-black shadow-md flex justify-between items-center h-15 px-8 fixed top-0 left-0 w-full z-50">
    <a href="/" class="flex items-center">
        <img src="/assets/global/logo.png" alt="ParatAI Logo" class="h-12 w-auto"/>
    </a>
    <nav class="flex space-x-6">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

